*{
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  box-sizing: border-box;
 }
  
 html {
   font-size: 62.5%;
 }

 ul li a {
	text-decoration: none;
}

/*BODY*/
.body {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: whitesmoke; 
  font-family: 'Poppins', sans-serif;
  width: 100vw;
}

 /*PÁRRAFOS*/
 p {
  font-size: 15pt;
  color: rgb(37, 35, 35);
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
   }