/*GLOBALES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s linear;
  font-family: 'Poppins', sans-serif;

}

h1, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif;
}

/*HTML*/
.html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}


/*BODY*/
.body {
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/*PÁRRAFOS*/
.p {
  // font-size: 15pt; //tamaño
  font-weight: normal; //negrita
  // color: black;
  font-family: 'Poppins', sans-serif;
}

/*LISTA ORDENADA*/
.ul li a {
	text-decoration: none; //quitar el subrayado
}

.ul {
  list-style: none;
}

//EFECTO APARECER
.aparecer {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
 }