$pgral: 15pt;
$h5gral: 1.25rem;

$color-primario: #55A;
$color-secundario: #6B6;
$color-texto: #666;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

$fondogrisdegradado: radial-gradient( whitesmoke, rgba(73, 70, 70, 0.39) );
$letragral: 'Poppins', sans-serif;
