@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

ul li a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*BODY*/
.body {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

/*PÁRRAFOS*/
p {
  font-size: 15pt;
  color: #746d6d;
  font-family: 'Poppins', sans-serif;
  font-weight: 150;
}

.poperaciones {
  font-size: 25pt;
}

.h5operaciones {
  color: #252323;
}

.br-1 {
  border-radius: 1 rem;
}

.br-2 {
  border-radius: 2 rem;
}

.br-3 {
  border-radius: 3 rem;
}

.bs-1 {
  -webkit-box-shadow: 1 rem;
          box-shadow: 1 rem;
}

.bs-2 {
  -webkit-box-shadow: 2 rem;
          box-shadow: 2 rem;
}

.bs-3 {
  -webkit-box-shadow: 3 rem;
          box-shadow: 3 rem;
}

.resaltar1 :hover, .resaltar2 :hover {
  background-color: chartreuse;
  -webkit-transition: all 0,4s linear;
  transition: all 0,4s linear;
  cursor: pointer;
}

.resaltar2 {
  height: 100px;
  width: 100px;
}

/*HEADER*/
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header__grid;
  position: fixed;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: radial-gradient(whitesmoke, rgba(136, 127, 127, 0.616));
}

.header__divlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0% 10% 0% 10%;
}

.header__logo {
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  border-style: groove #0a0a0a;
}

.header__menu {
  padding: 0%;
  margin: 0%;
  line-height: 45px;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 15px;
  gap: 1.5rem;
  text-transform: uppercase;
}

.header__menu [data-animation="bonus"] a::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.header__menu [data-animation="bonus"] a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
          transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.header__menu ul {
  list-style: none;
  color: black;
}

.header__menu li a {
  list-style: none;
  padding: 1px 1px;
  display: block;
  position: relative;
  font-size: 20px;
  color: black;
}

.header__menu :hover {
  font-style: italic;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.151)), to(rgba(82, 80, 80, 0.664)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.151), rgba(82, 80, 80, 0.664));
  -webkit-box-shadow: 0 0 20px rgba(128, 128, 128, 0.521), 0 0 20px rgba(128, 128, 128, 0.548), 0 0 20px rgba(128, 128, 128, 0.493);
          box-shadow: 0 0 20px rgba(128, 128, 128, 0.521), 0 0 20px rgba(128, 128, 128, 0.548), 0 0 20px rgba(128, 128, 128, 0.493);
  background: rgba(128, 128, 128, 0.486);
  border-radius: 10px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 50px;
  gap: 0.5rem;
  color: black;
  background: rgba(245, 245, 245, 0.432);
  border-radius: 10px;
}

.header__icons li a {
  list-style: none;
  padding: 1px 2px;
  display: block;
  position: relative;
  font-size: 20px;
  color: black;
}

.header__icons :hover {
  color: red;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.rotate {
  -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.aparecer {
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  /* Header */
  .header__menu {
    display: none;
  }
  .header__icons {
    display: none;
  }
  .footer__titulo1--modifier {
    font-size: 12px;
  }
  .footer__titulo1--modifier:hover {
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 1rem;
  }
}

/*FOOTER*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  padding: 1% 0% 1% 0%;
  width: 100vw;
  background-color: black;
  background-image: url("../img/fondonegro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__p--modifier {
  font-size: 10pt;
  color: white;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.footer__titulo1--modifier {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  letter-spacing: normal;
  word-spacing: 10px;
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__titulo1--modifier:hover {
  -webkit-transition: 3s;
  transition: 3s;
  font-size: 2rem;
  color: deeppink;
}

.footer .footer__titulo2--modifier {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 5remb;
  word-spacing: 10px;
  padding: 0%;
  margin: 0%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer .footer_imgArg {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
}

.footer__quickLinks {
  list-style: none;
}

.footer__quickLinks__a {
  text-decoration: none;
  color: white;
  font-size: 10pt;
}

.footer__quickLinks__redes {
  font-size: 2rem;
  color: white;
}

.btn1 {
  height: 30px;
  width: 110px;
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
}

.btn1:hover {
  color: black;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

/*PÁRRAFOS*/
.p {
  font-size: 15pt;
  color: #696262;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

@media (max-width: 980px) {
  .footer__titulo1--modifier {
    font-size: 12px;
  }
  .footer__titulo1--modifier:hover {
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 1rem;
  }
}

.body {
  background: whitesmoke;
  overflow-x: hidden;
}

/*MAIN*/
.main__grid {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  width: 100vw;
  gap: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (auto)[7];
      grid-template-rows: repeat(7, auto);
      grid-template-areas: "header__grid" "sectionSI" "sectionMV" "sectionPT" "sectionHPYSM" "sectionOFF" "footer";
}

/*MAIN SECTION SEANSON ITEMS*/
.sectionSI {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sectionSI;
  background: whitesmoke;
  padding-top: 1,5rem;
  padding-bottom: 0,5rem;
}

.sectionSI__caja {
  padding-top: 16rem;
  padding-bottom: 10rem;
  margin: 0% 4% 2% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background-image: url("../img/shop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: right;
  background-position-y: center;
}

.sectionSI__caja--h3 {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  border-radius: 2px;
  background: radial-gradient(rgba(245, 245, 245, 0.618), rgba(73, 70, 70, 0.405));
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 10px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sectionSI__caja--buttonmod1 {
  width: 200px;
  height: 200px;
  color: whitesmoke;
  background-image: url("../img/bufanda.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}

.sectionSI__caja--buttonmod1::before {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.sectionSI__caja--buttonmod1::after {
  content: "WINTER";
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  font-size: 1.6rem;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: .1rem .1rem  .1rem #333;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
}

.sectionSI__caja--buttonmod1:hover {
  background-color: whitesmoke, rgba(73, 70, 70, 0.39);
  -webkit-box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 20px whitesmoke;
          box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 20px whitesmoke;
  border-radius: 30px;
  color: blue;
  -webkit-transition: all .5s;
  transition: all .5s;
  content: "Winter";
}

.sectionSI__caja--buttonmod2 {
  width: 190px;
  height: 190px;
  font-weight: bold;
  font-size: 24px;
  text-align: end;
  justify-items: center;
  background-image: url("../img/bikini.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}

.sectionSI__caja--buttonmod2:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.sectionSI__caja--buttonmod2:hover {
  background-color: whitesmoke, rgba(73, 70, 70, 0.39);
  -webkit-box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 20px whitesmoke;
          box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 20px whitesmoke;
  color: #434343;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sectionSI__caja--buttonmod3 {
  width: 200px;
  height: 200px;
  font-weight: bold;
  font-size: 24px;
  background-image: url("../img/clothes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}

.sectionSI__caja--buttonmod3:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.sectionSI__caja--buttonmod3:hover {
  background-color: whitesmoke, rgba(73, 70, 70, 0.39);
  -webkit-box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 20px whitesmoke;
          box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 20px whitesmoke;
  color: #434343;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sectionSI__caja--buttonmod4 {
  width: 200px;
  height: 200px;
  -webkit-transition: height 4s, width 1s;
  transition: height 4s, width 1s;
  font-size: 24px;
  font-weight: bold;
  background-image: url("../img/dummy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}

.sectionSI__caja--buttonmod4:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.sectionSI__caja--buttonmod4:hover {
  background-color: whitesmoke, rgba(73, 70, 70, 0.39);
  -webkit-box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 20px whitesmoke;
          box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 20px whitesmoke;
  color: #434343;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/*MAIN_ SECTION MOST VIEWED*/
.sectionMV {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sectionMV;
  background-color: #EAEAEA;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100%25 100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23eaeaea'/%3E%3Cstop offset='0.02' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.02' stop-color='%23d3d3d3'/%3E%3Cstop offset='0.032' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.032' stop-color='%23e3e3e3'/%3E%3Cstop offset='0.056' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.056' stop-color='%23bebebe'/%3E%3Cstop offset='0.07' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.07' stop-color='%23dedede'/%3E%3Cstop offset='0.1' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.1' stop-color='%23cccccc'/%3E%3Cstop offset='0.126' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.126' stop-color='%23c1c1c1'/%3E%3Cstop offset='0.142' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.142' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.159' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.159' stop-color='%23eaeaea'/%3E%3Cstop offset='0.17' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.17' stop-color='%23949494'/%3E%3Cstop offset='0.197' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.197' stop-color='%23d2d2d2'/%3E%3Cstop offset='0.218' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.218' stop-color='%23e9e9e9'/%3E%3Cstop offset='0.239' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.239' stop-color='%23d4d4d4'/%3E%3Cstop offset='0.254' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.254' stop-color='%23d9d9d9'/%3E%3Cstop offset='0.283' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.283' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.294' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.294' stop-color='%237d7d7d'/%3E%3Cstop offset='0.305' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.305' stop-color='%23ebebeb'/%3E%3Cstop offset='0.332' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.332' stop-color='%23d1d1d1'/%3E%3Cstop offset='0.346' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.346' stop-color='%23dedede'/%3E%3Cstop offset='0.362' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.362' stop-color='%23f4f4f4'/%3E%3Cstop offset='0.381' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.381' stop-color='%23d0d0d0'/%3E%3Cstop offset='0.415' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.415' stop-color='%23b6b6b6'/%3E%3Cstop offset='0.428' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.428' stop-color='%23bdbdbd'/%3E%3Cstop offset='0.442' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.442' stop-color='%23e3e3e3'/%3E%3Cstop offset='0.456' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.456' stop-color='%23aaaaaa'/%3E%3Cstop offset='0.498' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.498' stop-color='%23e7e7e7'/%3E%3Cstop offset='0.511' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.511' stop-color='%23aeaeae'/%3E%3Cstop offset='0.532' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.532' stop-color='%23e9e9e9'/%3E%3Cstop offset='0.541' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.541' stop-color='%23b4b4b4'/%3E%3Cstop offset='0.56' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.56' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.581' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.581' stop-color='%23d2d2d2'/%3E%3Cstop offset='0.6' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.6' stop-color='%23e0e0e0'/%3E%3Cstop offset='0.618' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.618' stop-color='%23e4e4e4'/%3E%3Cstop offset='0.656' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.656' stop-color='%23a0a0a0'/%3E%3Cstop offset='0.679' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.679' stop-color='%23ebebeb'/%3E%3Cstop offset='0.689' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.689' stop-color='%23e2e2e2'/%3E%3Cstop offset='0.720' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.720' stop-color='%23a2a2a2'/%3E%3Cstop offset='0.734' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.734' stop-color='%23d6d6d6'/%3E%3Cstop offset='0.748' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.748' stop-color='%23e6e6e6'/%3E%3Cstop offset='0.764' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.764' stop-color='%23f0f0f0'/%3E%3Cstop offset='0.788' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.788' stop-color='%23e9e9e9'/%3E%3Cstop offset='0.808' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.808' stop-color='%23cecece'/%3E%3Cstop offset='0.831' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.831' stop-color='%23e9e9e9'/%3E%3Cstop offset='0.856' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.856' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.872' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.872' stop-color='%23eaeaea'/%3E%3Cstop offset='0.894' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.894' stop-color='%23e0e0e0'/%3E%3Cstop offset='0.914' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.914' stop-color='%23cdcdcd'/%3E%3Cstop offset='0.942' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.942' stop-color='%23d5d5d5'/%3E%3Cstop offset='0.957' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.957' stop-color='%23cccccc'/%3E%3Cstop offset='0.973' stop-color='%23EAEAEA'/%3E%3Cstop offset='0.973' stop-color='%23555555'/%3E%3Cstop offset='1' stop-color='%23EAEAEA'/%3E%3Cstop offset='1' stop-color='%23e4e4e4'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.sectionMV__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin: 0% 5% 0% 5%;
}

/*MAIN_ SECTION PRESENTATION*/
.sectionPT {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: sectionPT;
  text-align: justify;
}

.sectionPT__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 4% 4% 4% 4%;
  max-width: 2000px;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding: 5rem;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 20px;
}

.sectionPT--pmod {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
}

.sectionPT--videomod {
  position: relative;
  width: 100%;
  height: 150%;
  overflow: hidden;
  z-index: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  text-align: left;
  direction: ltr;
  font-size: 11px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-high-contrast-adjust: none;
  border-radius: 1px;
  -webkit-box-shadow: 1px 5px black;
          box-shadow: 1px 5px black;
}

/*MAIN section HELPING Y SOCIAL MEDIA*/
.sectionHPYSM {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: sectionHPYSM;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background: #eee;
}

.iconos__container {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.iconos__container__ind {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25rem;
  flex: 1 1 25rem;
  margin: 1rem;
}

.iconos__container__img {
  height: 15rem;
  margin-right: 2rem;
}

.iconos__container__titulo {
  color: black;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.iconos__container__span {
  color: #353434;
  font-size: 1.8rem;
}

/*MAIN_ SECTION OFFER*/
.sectionOFF {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: sectionOFF;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(black));
  background: linear-gradient(blue, black);
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #220ae0), to(rgba(255, 51, 0, 0.644)));
  background: linear-gradient(90deg, #020024 0%, #220ae0 35%, rgba(255, 51, 0, 0.644) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  padding: 0% 0% 0% 0%;
}

.sectionOFF__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 3rem;
  height: 150%;
  width: 300%;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: x-star;
  background-position-y: center;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba {
  display: none;
  background-repeat: no-repeat;
  font-size: 20px;
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

@media (max-width: 980px) {
  .main__bag {
    margin-top: 60px;
    background-size: cover;
  }
  .sectionSI__caja {
    background-size: cover;
  }
  .sectionSI__buttonmod1,
  .sectionSI__buttonmod2,
  .sectionSI__buttonmod3,
  .sectionSI__buttonmod4 {
    width: 100px;
    height: 100px;
  }
  .footer__titulo1--modifier {
    font-size: 10px;
  }
  .footer__titulo1--modifier:hover {
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 1rem;
  }
  .pilares {
    display: none;
  }
  .sectionSI__caja {
    background-color: whitesmoke;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-item {
    height: 40vh;
  }
}

@media only screen and (max-width: 375px) {
  .carousel-item {
    height: 30vh;
  }
}

/*MAIN*/
.main__search {
  width: 100vw;
  height: 80vh;
  padding-top: 8.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: blue;
  background-image: url("../img/searching2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100px;
  overflow-x: hidden;
}

.main__search--titulo1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.main__search--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  background-color: grey;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  width: 300px;
  height: 260px;
  padding: 1% 2% 1% 2%;
  margin: 0% 0% 0% 0%;
}

@media (max-width: 980px) {
  .main__search {
    margin-top: 50px;
  }
  .footer__titulo1--modifier {
    font-size: 12px;
  }
  .footer__titulo1--modifier:hover {
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 1rem;
  }
}

/*MAIN*/
.main__contact {
  width: 100vw;
  height: 80vh;
  padding-top: 8.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  background: blue;
  background-image: url("../img/social-media-mail.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100px;
}

.main__contact--titulo1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.main__contact--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  background-color: grey;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  width: 300px;
  height: 260px;
  padding: 1% 2% 1% 2%;
  margin: 0% 0% 0% 0%;
}

@media (max-width: 980px) {
  .main__contact {
    margin-top: 60px;
  }
  .footer__titulo1--modifier {
    font-size: 12px;
  }
  .footer__titulo1--modifier:hover {
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 1rem;
  }
}

/*MAIN BAG*/
.main__bag {
  width: 100vw;
  height: 90vh;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/bags1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#cargando {
  display: none;
}

@media (max-width: 980px) {
  .main__bag {
    margin-top: 89px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 60%;
    margin: auto;
  }
  .button {
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .button:hover {
    background-color: #fca311;
    color: #fff;
    cursor: pointer;
  }
}

.container {
  width: 95%;
  margin: auto;
  text-align: center;
}

.container h1 {
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 0;
}

.button {
  text-transform: uppercase;
  font-weight: 600;
  margin: 2rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
  background-color: transparent;
  border: 2px solid #fca311;
}

/* Modificaciones para modo oscuro */
body.dark {
  background-color: #14213d;
  color: #fff;
}

body.dark button {
  color: #f5f5f5;
}

/*MAIN*/
.main__login {
  width: 100vw;
  height: 80vh;
  padding-top: 8.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: blue;
  background-image: url("../img/social-media-cel.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100px;
  overflow-x: hidden;
}

.main__login--titulo1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.main__login--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  background-color: grey;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  border-style: solid rgba(0, 0, 0, 0.589);
  width: 300px;
  height: 200px;
  padding: 1% 2% 1% 2%;
  margin: 0% 0% 0% 0%;
}

@media (max-width: 980px) {
  .main__login {
    margin-top: 50px;
  }
  .main__login--form {
    width: 200px;
    height: 200px;
  }
  .footer__titulo1--modifier {
    font-size: 12px;
  }
  .footer__titulo1--modifier:hover {
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 1rem;
  }
}

/*MAIN PRODUCTOS*/
.main__products {
  width: 100vw;
  height: 100%;
  padding-top: 8.6rem;
}

.main__products--formbusq {
  font-family: 'Lucida Sans';
  font-size: 12px;
  font-weight: bold;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(whitesmoke, rgba(73, 70, 70, 0.39));
  width: 100vw;
  padding-bottom: 1%;
  padding-top: 1%;
}

.main__img1 {
  width: 100px;
  height: 100px;
  border: solid;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 {
  padding-top: 1rem;
}

.contenedor__tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  border-radius: 20px;
  background: radial-gradient(whitesmoke, rgba(73, 70, 70, 0.699));
  width: 300px;
  height: 300px;
}

.link {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 48px;
  z-index: 0;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.link::after, .link::before {
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: width 540ms, opacity 300ms ease;
  transition: width 540ms, opacity 300ms ease;
}

/* LINK 3 */
.link--3 {
  height: 56px;
  width: 164px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.link--3-b-tr, .link--3-b-bl {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.link--3-b-tr::before, .link--3-b-tr::after, .link--3-b-bl::before, .link--3-b-bl::after {
  content: '';
  position: absolute;
  background-color: red;
  border-radius: 10px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.link--3-b-tr::before {
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
}

.link--3-b-tr::after {
  right: 0;
  top: 0;
  height: 0;
  width: 1px;
}

.link--3-b-bl::before {
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
}

.link--3-b-bl::after {
  left: 0;
  bottom: 0;
  height: 0;
  width: 1px;
}

.link--3:hover {
  color: black;
  background-color: red;
  border-radius: 8px;
}

.link--3:hover .link--3-b-tr::before,
.link--3:hover .link--3-b-bl::before {
  width: 100%;
}

.link--3:hover .link--3-b-tr::after,
.link--3:hover .link--3-b-bl::after {
  height: 100%;
}

#carrito {
  position: relative;
}

#carrito.table.thead.tr.th {
  position: absolute;
}

.criticas span {
  color: red;
}

.criticas__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.criticas__contenedor__ind {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1rem;
  flex: 1 1 1rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  position: relative;
}

.criticas__contenedor__icono {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: #eee;
}

.criticas__contenedor__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
}

.criticas__contenedor__foto img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 1rem;
}

.criticas__contenedor__foto h3 {
  font-size: 1.5rem;
  color: #333;
}

.criticas__contenedor__estrellas {
  color: red;
  font-size: 2rem;
}

.criticas__contenedor__estrellas p {
  color: #999;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: 2rem;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
}

@media (max-width: 980px) {
  .footer__titulo1--modifier {
    font-size: 10px;
  }
  .footer__titulo1--modifier:hover {
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 1rem;
  }
}

/*MAIN*/
.maincourses__grid {
  width: 100vw;
  height: 150vh;
  margin-top: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "contenedor1" "contenedor2" "contenedor3";
  background-image: url("../img/fondoManiki.png");
  background-position-x: end;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor1 {
  max-width: 1000px;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contenedor1;
}

.contenedor2 {
  max-width: 1000px;
  width: 110%;
  margin: 0 auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenedor2;
}

.contenedor3 {
  max-width: 1000px;
  width: 80%;
  margin: auto 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contenedor3;
}

.tarjeta {
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 249, 252, 0.507)), color-stop(35%, rgba(35, 10, 224, 0.918)), to(red));
  background: linear-gradient(90deg, rgba(249, 249, 252, 0.507) 0%, rgba(35, 10, 224, 0.918) 35%, red 100%);
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.tarjeta__img {
  width: 300px;
  height: 180px;
  margin-right: 30px;
  border-radius: 1rem;
}

.tarjeta__titulo {
  font-size: 3rem;
  margin-bottom: 20px;
  text-decoration: underline;
  font-style: italic;
}

.tarjeta__parrafo {
  line-height: 28px;
  font-size: 3rem;
}

.boton {
  height: 60px;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1b1a1a), to(rgba(228, 201, 201, 0.315)));
  background: linear-gradient(to bottom, #1b1a1a, rgba(228, 201, 201, 0.315));
  color: black;
  display: inline-block;
  text-decoration: none;
  border-radius: 25% 10%;
}

.boton--derecha {
  position: absolute;
  right: 20px;
  bottom: -15px;
}

@media (max-width: 980px) {
  .maincourses__grid {
    width: 100vw;
    height: 240vh;
  }
  .contenedor1 {
    width: 90%;
  }
  .contenedor2 {
    width: 90%;
  }
  .contenedor3 {
    width: 90%;
  }
  .tarjeta__img {
    display: none;
  }
  .footer__titulo1--modifier {
    font-size: 10px;
  }
  .footer__titulo1--modifier:hover {
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */