@charset "UTF-8";
* {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul li a {
  text-decoration: none;
}

/*BODY*/
.body {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
}

/*PÁRRAFOS*/
p {
  font-size: 15pt;
  color: #252323;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.poperaciones {
  font-size: 25pt;
}

.h5operaciones {
  color: #252323;
}

.br-1 {
  border-radius: 1 rem;
}

.br-2 {
  border-radius: 2 rem;
}

.br-3 {
  border-radius: 3 rem;
}

.bs-1 {
  -webkit-box-shadow: 1 rem;
          box-shadow: 1 rem;
}

.bs-2 {
  -webkit-box-shadow: 2 rem;
          box-shadow: 2 rem;
}

.bs-3 {
  -webkit-box-shadow: 3 rem;
          box-shadow: 3 rem;
}

.resaltar1 :hover, .resaltar2 :hover {
  background-color: chartreuse;
  -webkit-transition: all 0,4s linear;
  transition: all 0,4s linear;
  cursor: pointer;
}

.resaltar2 {
  height: 100px;
  width: 100px;
}

/*HEADER*/
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header__grid;
  padding: 0.3% 0% 0.3% 0%;
  position: fixed;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(whitesmoke, rgba(73, 70, 70, 0.39));
  z-index: 2;
  -webkit-box-shadow: 1px 3px rgba(134, 128, 128, 0.63);
          box-shadow: 1px 3px rgba(134, 128, 128, 0.63);
}

.header__divlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0% 2% 0% 2%;
}

.header__logo {
  width: 60px;
  height: 60px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
}

.header__menulista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: black;
  gap: 0.5rem;
  max-width: 980px;
  margin: 0 auto;
}

.header__navigation li a {
  color: black;
}

.header__grid--navigation__listaulspanish, .header__grid--navigation__listaulenglish, .header__grid--navigation__listaulcroatia {
  width: 30px;
  height: 30px;
  gap: 1rem;
}

.menu {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 60px;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 15px;
  gap: 1.5rem;
}

.menu__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.menu > li {
  float: left;
}

.menu li a {
  text-decoration: none;
  padding: 1px 2px;
  display: block;
  position: relative;
  font-size: 20px;
  color: black;
}

.menu a::before {
  content: ’’;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#b47dcd), color-stop(#e878a2), to(#eb85ab));
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menu a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu [data-animation="to-left"] a::before {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu[data-animation="center"] a::before {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.menu li a:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 15px;
  color: #203de2;
  font-style: italic;
}

.menu li ul {
  display: none;
  position: absolute;
  background-color: rgba(152, 152, 160, 0.521);
  min-width: 120px;
  list-style: none;
}

.menu li:hover > ul {
  display: block;
  padding: 1px 2px;
  border-radius: 5px;
  z-index: 4;
}

.menu li ul li {
  position: relative;
  text-decoration: none;
}

.menu li ul li ul {
  right: -140px;
  top: 0px;
  list-style: none;
}

@media (max-width: 980px) {
  /* Header */
  .header__menulista {
    display: none;
  }
  .menu {
    font-size: 15px;
  }
  .menu__item {
    color: black;
  }
  .header__navigation {
    background-color: rgba(0, 0, 255, 0.336);
    border-radius: 15px;
    font-size: 12px;
  }
}

/*FOOTER*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  padding: 0% 0% 2% 0%;
  top: 0%;
  width: 100vw;
  background-color: black;
}

.footer__p--modifier {
  font-size: 10pt;
  color: white;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.footer__titulo1--modifier {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  letter-spacing: normal;
  word-spacing: 10px;
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__titulo1--modifier:hover {
  -webkit-transition: 3s;
  transition: 3s;
  font-size: 2rem;
  color: deeppink;
}

.footer .footer__titulo2--modifier {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 5remb;
  word-spacing: 10px;
  padding: 0%;
  margin: 0%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer .footer_imgArg {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
}

/*MAIN*/
.main__grid {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  padding-top: 10rem;
  width: 100vw;
  gap: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (auto)[7];
      grid-template-rows: repeat(7, auto);
      grid-template-areas: "header__grid" "sectionMV" "sectionSI" "sectionPT" "div__sectionHPYSM" "sectionOFF" "footer";
}

/*MAIN SECTION SEANSON ITEMS*/
.sectionSI {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sectionSI;
}

.sectionSI__caja {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin: 0% 4% 0% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-family: 'Lucida Sans';
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background-image: url("../img/shop.jpg");
  background-repeat: no-repeat;
  background-size: 91%;
  background-position-x: center;
  background-position-y: top;
  border-radius: 20px;
}

.sectionSI__caja--h3 {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  border-radius: 20px;
  background: radial-gradient(whitesmoke, rgba(73, 70, 70, 0.39));
}

.sectionSI__caja--buttonmod1 {
  width: 200px;
  height: 200px;
  color: whitesmoke;
  background-image: url("../img/bufanda.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}

.sectionSI__caja--buttonmod1::before {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.sectionSI__caja--buttonmod1::after {
  content: "WINTER";
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  font-size: 1.6rem;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: .1rem .1rem  .1rem #333;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
}

.sectionSI__caja--buttonmod1:hover {
  background-color: whitesmoke, rgba(73, 70, 70, 0.39);
  -webkit-box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
          box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
  border-radius: 30px;
  color: blue;
  -webkit-transition: all .5s;
  transition: all .5s;
  content: "Winter";
}

.sectionSI__caja--buttonmod2 {
  width: 190px;
  height: 190px;
  font-weight: bold;
  font-size: 24px;
  text-align: end;
  justify-items: center;
  background-image: url("../img/bikini.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}

.sectionSI__caja--buttonmod2:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.sectionSI__caja--buttonmod2:hover {
  background-color: whitesmoke, rgba(73, 70, 70, 0.39);
  -webkit-box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
          box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
  color: #434343;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sectionSI__caja--buttonmod3 {
  width: 200px;
  height: 200px;
  font-weight: bold;
  font-size: 24px;
  background-image: url("../img/clothes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}

.sectionSI__caja--buttonmod3:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.sectionSI__caja--buttonmod3:hover {
  background-color: whitesmoke, rgba(73, 70, 70, 0.39);
  -webkit-box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
          box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
  color: #434343;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sectionSI__caja--buttonmod4 {
  width: 200px;
  height: 200px;
  -webkit-transition: height 4s, width 1s;
  transition: height 4s, width 1s;
  font-size: 24px;
  font-weight: bold;
  background-image: url("../img/dummy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}

.sectionSI__caja--buttonmod4:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.sectionSI__caja--buttonmod4:hover {
  background-color: whitesmoke, rgba(73, 70, 70, 0.39);
  -webkit-box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
          box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
  color: #434343;
  border-radius: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/*MAIN_ SECTION MOST VIEWED*/
.sectionMV {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sectionMV;
  overflow: hidden;
  padding-bottom: 5rem;
  margin: 0% 4% 0% 4%;
}

.sectionMV__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  font-family: 'Lucida Sans';
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0% 5% 0% 5%;
  background: white;
  border-radius: 20px;
}

/*MAIN_ SECTION PRESENTATION*/
.sectionPT {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: sectionPT;
  text-align: justify;
}

.sectionPT__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  font-family: 'Lucida Sans';
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0% 4% 0% 4%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(4, 4, 247, 0.719);
  border-radius: 20px;
}

.sectionPT--pmod {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-align: center;
}

.sectionPT--videomod {
  position: relative;
  width: 100%;
  height: 150%;
  overflow: hidden;
  z-index: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  text-align: left;
  direction: ltr;
  font-size: 11px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-high-contrast-adjust: none;
  border-radius: 1px;
  -webkit-box-shadow: 1px 5px black;
          box-shadow: 1px 5px black;
}

/*MAIN_ div_section HELPING Y SOCIAL MEDIA*/
.div__sectionHPYSM {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: div__sectionHPYSM;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background: radial-gradient(whitesmoke, rgba(218, 205, 205, 0.39));
  border-radius: 20px;
}

/*MAIN_ SECTION HELPING*/
.sectionHP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 35vw;
  border-radius: 20px;
}

.sectionHP__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  font-family: 'Lucida Sans';
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  margin: 0% 0% 0% 0%;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: 16rem;
  background-position: left center;
  border-radius: 20px;
}

/*MAIN_ SECTION SOCIAL MEDIA*/
.sectionSM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  background-image: url("../img/socialMedia4.png");
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: left center;
}

.sectionSM__caja1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 5px;
  color: black;
  font-family: 'Lucida Sans';
  font-weight: bold;
  text-align: center;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  border-radius: 20px;
}

.sectionSM__caja2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  width: 150px;
  height: 150px;
  color: black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}

/*MAIN_ SECTION OFFER*/
.sectionOFF {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: sectionOFF;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(black));
  background: linear-gradient(blue, black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  padding: 0% 0% 0% 0%;
  margin-top: 10px;
}

.sectionOFF__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 3rem;
  height: 150%;
  width: 300%;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: x-star;
  background-position-y: center;
}

/*BOTON ARRIBA*/
.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #b22020;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  -webkit-animation: popup 0.3s ease-in-out;
          animation: popup 0.3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11;
}

.show i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6.6rem;
    height: 6.6rem;
  }
}

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6.6rem;
    height: 6.6rem;
  }
}

@media (max-width: 980px) {
  .main__bag {
    margin-top: 60px;
    background-size: cover;
  }
  .sectionSI__caja {
    background-size: cover;
  }
}

/*MAIN*/
.main__search {
  width: 100vw;
  height: 75vh;
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(4, 4, 247, 0.719);
  background-image: url("../img/searching2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100px;
}

.main__search--titulo1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.main__search--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  background-color: grey;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  width: 300px;
  height: 260px;
  padding: 1% 2% 1% 2%;
  margin: 0% 0% 0% 0%;
}

@media (max-width: 980px) {
  .main__search {
    margin-top: 50px;
  }
  .main__search--form {
    width: 200px;
    height: 100px;
  }
}

/*MAIN*/
.main__contact {
  width: 100vw;
  height: 75vh;
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(4, 4, 247, 0.719);
  background-image: url("../img/social-media-mail.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100px;
}

.main__contact--titulo1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.main__contact--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  background-color: grey;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  width: 300px;
  height: 260px;
  padding: 1% 2% 1% 2%;
  margin: 0% 0% 0% 0%;
}

@media (max-width: 980px) {
  .main__contact {
    margin-top: 60px;
  }
}

/*MAIN BAG*/
.main__bag {
  width: 100vw;
  height: 120vh;
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/bags1.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 980px) {
  .main__bag {
    margin-top: 60px;
    background-size: cover;
  }
}

/*MAIN*/
.main__login {
  width: 100vw;
  height: 75vh;
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(4, 4, 247, 0.719);
  background-image: url("../img/social-media-cel.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100px;
}

.main__login--titulo1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.main__login--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  background-color: grey;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  border-style: solid rgba(0, 0, 0, 0.589);
  width: 300px;
  height: 200px;
  padding: 1% 2% 1% 2%;
  margin: 0% 0% 0% 0%;
}

@media (max-width: 980px) {
  .main__login {
    margin-top: 50px;
  }
  .main__login--form {
    width: 200px;
    height: 200px;
  }
}

/*MAIN PRODUCTOS*/
.main__products {
  width: 100vw;
  height: 200vh;
  margin-top: 73px;
  background-color: rgba(4, 4, 247, 0.719);
}

.main__products--formbusq {
  font-family: 'Lucida Sans';
  font-size: 12px;
  font-weight: bold;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(whitesmoke, rgba(73, 70, 70, 0.39));
  width: 100vw;
  padding-bottom: 1%;
  padding-top: 1%;
}

.main__img1 {
  width: 100px;
  height: 100px;
  border: solid;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 {
  background-image: url("../img/tiendahippiechic1.jpg");
  background-position: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor__tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  border-radius: 20px;
  background: radial-gradient(whitesmoke, rgba(73, 70, 70, 0.699));
  width: 300px;
  height: 300px;
}

/*MAIN*/
.maincourses__grid {
  width: 100vw;
  height: 180vh;
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "contenedor1" "contenedor2" "contenedor3";
  background-image: url("../img/fondoCosturera.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor1 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contenedor1;
}

.contenedor2 {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenedor2;
}

.contenedor3 {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contenedor3;
}

.tarjeta {
  background-color: royalblue;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.tarjeta__img {
  width: 300px;
  height: 180px;
  margin-right: 30px;
}

.tarjeta__titulo {
  font-size: 2rem;
  margin-bottom: 20px;
  text-decoration: underline;
  font-style: italic;
}

.tarjeta__parrafo {
  line-height: 28px;
  font-size: 2rem;
}

.boton {
  height: 60px;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.774);
  color: black;
  display: inline-block;
  text-decoration: none;
  border-radius: 25% 10%;
}

.boton--derecha {
  position: absolute;
  right: 20px;
  bottom: -15px;
}
/*# sourceMappingURL=style.css.map */