//*BODY*//
.body{
  // background-color: blue;
}

/*MAIN BAG*/
.main__bag {
  width: 100vw;
  height: 90vh;
  //*margin-top: 85px; este es el margin para que quede OK el Header*//
  //*padding-top: 3rem;  con este padding la pag queda sin scroll horizontal*//
  margin-top: 85px;
  display: flex;
  background-image: url("../img/bags1.jpg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
} 

@media (max-width: 980px) { //para Dispositivos móviles. Min-width es para Desk
  .main__bag {
    margin-top: 89px;
    background-size: cover;
  }

}