/*MAIN BAG*/
.main_bag {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: solid pink;
  background-image: url("../img/bags.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: norepeat;
} 