 /*MAIN*/
  .main__contact {
    width: 100vw;
     //*margin-top: 85px; este es el margin para que quede OK el Header*//
    padding: 8rem 0rem 4rem 0rem; //* con este padding la pag queda sin scroll horizontal*//
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-image: url("../img/3.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 200px;
    background-attachment: fixed;
    overflow-x: hidden;

    &--titulo1{
      color:black;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      text-shadow: 0 0 15px rgba(59, 54, 54, 0.521), 0 0 15px #84848d;
      font-size: calc(0.8rem + 3vw);

      &:hover{
        font-style: italic;
        //font-size: 60px;
        }
    }

    &--form {
      display: flex;
      flex-direction: column;
      color: black;
      background-color: rgba(128, 128, 128, 0.511);
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
      width: 400px;
      height: 450px;
      padding: 1% 2% 1% 2%;
      margin: 0% 0% 0% 0%;
    }
  }

//---------------------------------------//
//-------------/*BOTON ARRIBA*/----------//
//---------------------------------------//

/* GOTOP */
.go-top-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  z-index: -1;
}

.go-top-button {
  width: 50px;
  height: 50px;
  border-radius: 200%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: block;
  background-color: whitesmoke;
}

.go-top-button i {
  position: absolute;
  font-size: 3rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: red;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
      width: 0;
      height: 0;
  }
  50% {
      width: 8rem;
      height: 8rem;
  }
  100% {
      width: 6.6rem;
      height: 6.6rem;
  }
}

/*=======================================================================================================
=                                        Media queries                                                  =
========================================================================================================*/

/* col-xs */
@media (max-width: 480px) { 
  .main__contact {
    width: 100vw;
    height: 100vh;
     //*margin-top: 85px; este es el margin para que quede OK el Header*//
    padding: 8rem 0rem 4rem 0rem; //* con este padding la pag queda sin scroll horizontal*/
    background-size: 200px;

    &--form {
      font-size: 10px;
      font-weight: bold;
      border-radius: 3px;
      width: 300px;
      height: 370px;
      padding: 1% 2% 1% 2%;
      margin: 0% 0% 0% 0%;
    }
  }

//––––––––––––––––––––RESPONSIVE BOTON ARRIBA–––––––––––––––––//
/* GOTOP */
.go-top-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  z-index: -1;
}

.go-top-button {
  width: 30px;
  height: 30px;
  border-radius: 200%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: block;
  background-color: whitesmoke;
}

.go-top-button i {
  position: absolute;
  font-size: 3rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: red;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 4.6rem;
  height: 4.6rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

}     
/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 800px) {

}
  
/* col-md */
@media (min-width: 992px) and (max-width: 1199px) {

}
  
/* col-lg */
@media (min-width: 1200px) {

}
  
/*col-sm col-md col-lg*/
@media (min-width: 768px) {

}