  /*MAIN*/
  .main__contact {
    display: flex;
    flex-direction: row;
    height: 60vh;
    line-height: 1,6rem;
    width: 100vw;
    margin-top: 60px;
    justify-content: flex-start ;
    overflow: hidden;
    background-color: goldenrod;
    background-image: url("../img/social-media-mail.png"); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100px;


  &--form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
    color: black;
    background-color: grey;
    font-family: 'Lucida Sans';
    font-size: 12px;
    font-weight: bold;
    border: 5rem;
    width: 300px;
    height: 300px;
    padding: 1% 2% 1% 2%;
    margin: 0% 0% 0% 0%;
  }
  
} 