/*MAIN*/
.maincourses__grid {
  width: 100vw;
  height: 180vh;
  margin-top: 73px;
  display: flex; 
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "contenedor1"
  "contenedor2"
  "contenedor3";
  background-image: url("../img/fondoCosturera.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor1 {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	grid-area: contenedor1;
}

.contenedor2 {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	grid-area: contenedor2;
}

.contenedor3 {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	grid-area: contenedor3;
}

.tarjeta {
	background-color: royalblue;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 30px; 
}

.tarjeta__img {
	width: 300px;
	height: 180px;
	margin-right: 30px;
}

.tarjeta__titulo {
	font-size: 2rem;
	margin-bottom: 20px;
  text-decoration: underline;
  font-style: italic;
}

.tarjeta__parrafo {
	line-height: 28px;
	font-size: 2rem;
}

.boton{
	height: 60px;
	padding: 20px;
	background-color: rgba(255, 0, 0, 0.774);
	color: black;
	display: inline-block;
	text-decoration: none;
	border-radius: 25% 10%;
}

.boton--derecha {
	position: absolute;
	right: 20px;
	bottom: -15px;
}
