/*MAIN*/
.maincourses__grid {
  width: 100%;
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "contenedor1"
  "contenedor2"
  "contenedor3";
  background-image: url("../img/fondoManiki.png");
  background-position-x: center; //*probar como hacer la imagen mas a la izq*//
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor1 {
	max-width: 1000px;
	width: 50%;
	margin: 0 auto;
	grid-area: contenedor1;
}

.contenedor2 {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	grid-area: contenedor2;
}

.contenedor3 {
	max-width: 1000px;
	width: 50%;
	margin: auto 0;
	grid-area: contenedor3;
}

.tarjeta {
	background: linear-gradient(90deg, rgb(175, 173, 218) 0%, rgba(34,10,224,1) 35%, rgba(255, 51, 0, 0.644) 100%);
    display: flex;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 30px;
}

.tarjeta__img {
	width: 300px;
	height: 180px;
	margin-right: 30px;
	border-radius: 1rem;
}

.tarjeta__titulo {
  font-size: 2rem;
  margin-bottom: 20px;
  text-decoration: underline;
  font-style: italic;
}

.tarjeta__parrafo {
	line-height: 28px;
	font-size: 1rem;
}

.ul li h4 {
	font-size: 0.8rem;
}

.boton{
	height: 60px;
	padding: 20px;
	background: linear-gradient(to bottom, rgb(27, 26, 26), rgba(228, 201, 201, 0.315));
	color: black;
	display: inline-block;
	text-decoration: none;
	border-radius: 25% 10%;
}

.boton--derecha {
	position: absolute;
	right: 20px;
	bottom: -15px;
}

@media (max-width: 980px) { //para Dispositivos móviles. Min-width es para Desk
	.maincourses__grid {
		width: 100vw;
		height: 240vh;
	}
	
	.contenedor1 {
		width: 90%;
		// margin: 0 auto;
		
	}
	
	.contenedor2 {
		width: 90%;
		// margin: 0 auto;
		
	}
	
	.contenedor3 {
		width: 90%;
		// margin: 0 auto;
	
	}

	.tarjeta__img {
		display: none;
	}

    .footer__titulo1--modifier{
		font-size: 10px;
		
		&:hover{
		  transition: 0s;
		  font-size: 1rem;
		 }
	  }
  
  }
