.body{
  background: #eee;
  // background: blue;
  overflow-x: hidden;
}

/*MAIN*/
.main__grid {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  padding-top: 8.6rem; //*este es el padding para que quede OK el Header*//
  width: 100vw;
  gap: 0%;
  display: flex; 
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
  "header__grid"
  "sectionSI"
  "sectionMV"
  "sectionPT"
  "sectionHPYSM"
  "sectionOFF"
  "footer";
 }
 
/*MAIN SECTION SEANSON ITEMS*/
.sectionSI{
 grid-area: sectionSI;
 background: rgb(22, 21, 21); //*ult negro de la seccion*//
 padding-top: 5rem;
  padding-bottom: 1rem;
 
  &__caja{
  padding-top: 8rem;
  padding-bottom: 5rem;
  margin:  0% 4% 4% 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center ;
  background-image: url("../img/shop.jpg"); 
  background-repeat: no-repeat;
  background-size:  91%;
  background-position-x: center;
  background-position-y: top ;
  border-radius: 20px;
  

  &--h3{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    border-radius: 2px;
    background: radial-gradient( rgba(245, 245, 245, 0.618), rgba(73, 70, 70, 0.405) );
    align-self: center;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    border-radius: 10px;
  }
    
   @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
   }

 
  &--buttonmod1 {
  width: 200px;
  height: 200px;
  color: whitesmoke;
  background-image: url("../img/bufanda.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  cursor: pointer;

  &::before {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%,-50% );
  transition: all 500ms ease;
  
  }
  
  &::after {
    content: "WINTER";
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%,-50% ) scale(0);
    font-size: 1.6rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: .1rem .1rem  .1rem #333  ;
    transition: .2s ease;  
    opacity: 0;
    }

  &:hover{
  background-color: ( whitesmoke, rgba(73, 70, 70, 0.39) );
  box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
  border-radius: 30px;
  color: blue;
  transition: all .5s;
  content: "Winter";
  }

  }

  &--buttonmod2 {
  width: 190px;
  height: 190px;
  font-weight: bold;
  font-size: 24px;
  text-align: end;
  justify-items: center;
  background-image: url("../img/bikini.png"); 
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
  
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transition: all 500ms ease;
    z-index: -1;
    }
  
    &:hover{
      background-color: ( whitesmoke, rgba(73, 70, 70, 0.39) );
    box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
    color: #434343;
    border-radius: 30px;
    transition: all .5s;
    }
  }

  &--buttonmod3 {
  width: 200px;
  height: 200px;
  font-weight: bold;
  font-size: 24px;
  background-image: url("../img/clothes.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
  
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transition: all 500ms ease;
    z-index: -1;
    }
  
    &:hover{
      background-color: ( whitesmoke, rgba(73, 70, 70, 0.39) );
    box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
    color: #434343;
    border-radius: 30px;
    transition: all .5s;
    }
  }

  &--buttonmod4 {
  width: 200px;
  height: 200px;
  transition: height 4s, width 1s;
  font-size: 24px;
  font-weight: bold;
  background-image: url("../img/dummy.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transition: all 500ms ease;
    z-index: -1;
    }
  
    &:hover{
      background-color: ( whitesmoke, rgba(73, 70, 70, 0.39) );
    box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
    color: #434343;
    border-radius: 30px;
    transition: all .5s;
    }
}
}
}

 /*MAIN_ SECTION MOST VIEWED*/
 .sectionMV {
  grid-area: sectionMV;
  background: rgb(22, 21, 21); 
 
   &__caja {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   color: black;
   font-family: 'Poppins', sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   padding-top: 10rem;
   padding-bottom: 10rem;
   margin: 0% 5% 0% 5%;
  
   }
 }

/*MAIN_ SECTION PRESENTATION*/
.sectionPT{
grid-area: sectionPT;
text-align: justify;
background: blue;

  &__caja{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  // font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin:  4% 4% 4% 4%;
  max-width: 1000px;
  // padding-top: 5rem;
  // padding-bottom: 5rem;
  padding: 5rem;
  background: rgba(0, 0, 0, 0.898);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,10,224,1) 35%, rgb(255, 0, 221) 100%);
  border-radius: 20px;
  }

  &--pmod {
  color: black; 
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
  }

  &--videomod {
  position: relative;
  width: 100%;
  height: 150%;
  overflow: hidden;
  z-index: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  text-align: left;
  direction: ltr;
  font-size: 11px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-high-contrast-adjust: none;
  border-radius: 1px;
  box-shadow: 1px 5px black;
  }
}

/*MAIN section HELPING Y SOCIAL MEDIA*/
.sectionHPYSM {
  grid-area: sectionHPYSM;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background: #eee;
  // border-radius: 20px;
}

.iconos__container {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.iconos__container__ind {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin: 1rem;
}

.iconos__container__img {
  height: 15rem;
  margin-right: 2rem;
}

.iconos__container__titulo {
  color: black;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.iconos__container__span {
  color: rgb(53, 52, 52);
  font-size: 1.8rem;
  
}

/*MAIN_ SECTION OFFER*/
.sectionOFF{
  grid-area: sectionOFF;
  width: 100vw;
  background: linear-gradient(  blue, black );
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,10,224,1) 35%, rgba(255, 51, 0, 0.644) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  // font-weight: bold;
  text-align: center;
  overflow: hidden;
  padding: 0% 0% 0% 0%; 
  // margin-top: 10px;
 
 &__form {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: start;
 align-items: center;
 align-content:center;
 padding-top: 3rem;
 height:  150%;
 width: 300%;
 background-image: url("../img/cart.png"); 
 background-repeat: no-repeat;
 background-size: 20%;
 background-position-x: x-star;
 background-position-y: center;
 }
}




@media (max-width: 980px) { //para Dispositivos móviles. Min-width es para Desk
  .main__bag {
    margin-top: 60px;
    background-size: cover;
  }
  .sectionSI__caja{
    background-size:  cover;
  }

  .sectionSI__buttonmod1,
  .sectionSI__buttonmod2, 
  .sectionSI__buttonmod3, 
  .sectionSI__buttonmod4{
    width: 100px;
    height: 100px;
  }

  .footer__titulo1--modifier{
    font-size: 10px;
    
    &:hover{
      transition: 0s;
      font-size: 1rem;
     }
  }

  .pilares{
    display: none;
  }

.sectionSI__caja{
  background-color: whitesmoke;
}

}

@media only screen and (max-width: 768px) {
  .carousel-item {
    height: 40vh;
  }
}

@media only screen and (max-width: 375px) {
  .carousel-item {
    height: 30vh;
  }
}