/*MAIN*/
.main__grid {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  padding-top: 6rem; //*este es el padding para que quede OK el Header
  width: 100vw;
  gap: 0%;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8 auto);
  grid-template-areas:
  "header__grid"
  "sectionSI"
  "sale"
  "sectionPT"
  "pilares"
  "sectionHPYSM"
  "sectionOFF"
  "footer";
 }
 
/*MAIN SECTION SEANSON ITEMS*/
.sectionSI{
 grid-area: sectionSI;
//background: rgba(0, 0, 0, 0.877); //*último background de la seccion*//
// padding: 6rem 0rem 9rem 0rem;
 margin: 0% ;
 overflow-x: hidden;
 overflow-y: hidden;

  &__caja{
  padding: 10rem 0rem 11rem 0rem; //agranda o achica la foto de la caja (perchero)
  // margin:  4% 5% 5% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center ;
  background-image: url("../img/shop.jpg");
  background-repeat: no-repeat;
  background-size:  cover;
  background-position-x: right;
  background-position-y: bottom ;
  //border-radius: 15px;

  &--h3{
    color: rgb(46, 45, 45);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    border-radius: 73px 73px 0px 0px;
    //background-color: rgba(212, 203, 203, 0.411);
    // background-position: 50%;
    align-self: center;
    text-decoration: none;
    // animation-duration: 4s;
    // animation-name: aparecer;
    // animation-iteration-count: infinite;
  }

  &--boton1 {
    width: 200px;
    height: 250px;
    background-image: url("../img/bikini.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: bottom;
    border-style: dotted black;
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 217, 0, 0.178);
  
      &:hover{
      background-color: rgb(255, 217, 0);
      box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
      transition: all 1.5s;
      border-radius: 40px;
      }
    }

 &--boton2 {
  width: 200px;
  height: 250px;
  background-image: url("../img/bufanda.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-x: center;
  background-position-y: bottom;
  border-style: dotted black;
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  background-color: rgba(135, 206, 250, 0.247);

    &:hover{
    background-color: rgb(135, 206, 250);
    box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
    transition: all 1.5s;
    border-radius: 40px;
    }
  }

  &--boton3 {
  width: 200px;
  height: 250px;
  font-weight: bold;
  font-size: 24px;
  background-image: url("../img/clothes.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-x: center;
  background-position-y: bottom;
  border-style: dotted black;
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 160, 122, 0.233);

    &:hover{
    background-color: rgb(255, 160, 122);
    box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
    transition: all 1.5s;
    border-radius: 40px;
    }
  }

  &--boton4 {
  width: 200px;
  height: 250px;
  transition: height 4s, width 1s;
  font-size: 24px;
  font-weight: bold;
  background-image: url("../img/dummy.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-x: center;
  background-position-y: bottom;
  border-style: dotted black;
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 122, 162, 0.192);

    &:hover{
    background-color: rgb(255, 122, 162);
    box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
    transition: all 1.5s;
    border-radius: 40px;
    }
}
}
}

div ul li a {
	text-decoration: none; //quitar el subrayado
}

div ul {
  list-style: none;
}

/*MAIN SECTION SALE*/
.sale{
  grid-area: sale;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: rgb(236, 57, 57);


&__precio {
  color: red;
  font-size: 20px;
  font-weight: 800;
  padding-left: 5px;
}

&__btn {
  height: 50px;
  width: 110px;
  background-color: black;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 30%;
  opacity: 0;
}

&__btn:hover {
  background-color: royalblue;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

& .card:hover input {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

&__img-fluid{
  width: 15rem;
  height: 10rem;
}
}

.card {
  border: none;
  padding: 25px;
  height: 25.5rem;

&:hover {
  box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}
}

/*MAIN_ SECTION PRESENTATION*/
.sectionPT{
  grid-area: sectionPT;
  text-align: justify;
  
  &__caja{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  // font-size: 14px;
  font-weight: bold;
  text-align: center;
  //margin:  4% 4% 4% 4%;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  }

  &--pmod {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
  }

  &--videomod {
  position: relative;
  width: 50%;
  height: 50%;
  overflow: hidden;
  z-index: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  text-align: center;
  direction: ltr;
  font-size: 90px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-high-contrast-adjust: none;
  border-radius: 1px;
  box-shadow: 1px 5px black;
  }
}

/*MAIN SECTION PILARES*/
.pilares{
  grid-area: pilares;
}

.iconos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  // padding-top: 8rem;
  // padding-bottom: 15rem;
  background: gray;
}

.iconos__container__ind {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin: 1rem;
  background-color: $fondogrisdegradado;
}

.iconos__container__img {
  width: 10rem;
  height: 12rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.iconos__container__titulo {
  color: black;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.iconos__container__span {
  color: rgb(53, 52, 52);
  font-size: 1.1rem;
  
}

/*MAIN SECTION CONTACT*/
.sectionHPYSM {
  grid-area: sectionHPYSM;
  display: flex;
  justify-content: center;
  //padding: 5rem 0rem 7rem 0rem;
  background: #eee;
  // border-radius: 20px;
}

.iconos__container {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.iconos__container__ind {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin: 1rem;
}

.iconos__container__img {
  height: 10rem;
  margin-right: 2rem;
}

.iconos__container__titulo {
  color: black;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.iconos__container__span {
  color: rgb(53, 52, 52);
  font-size: 1.1rem;
  
}

/*MAIN_ SECTION OFFER*/
.sectionOFF{
  grid-area: sectionOFF;
  width: 100vw;
  background: linear-gradient(  blue, black );
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,10,224,1) 35%, rgba(255, 51, 0, 0.644) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  overflow: hidden;
  padding: 3rem 0rem 3rem 0rem;
  // margin-top: 10px;
 
 &__form {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: start;
 align-items: center;
 align-content:center;
 padding-top: 3rem;
 height:  130%;
 width: 250%;
 background-image: url("../img/cart.png");
 background-repeat: no-repeat;
 background-size: 15%;
 background-position-x: x-star;
 background-position-y: center;
 }
}

//BOTON ARRIBA

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}

//BOTON RECYCLE

// body {
//   position: relative;
// }

// .overlay {
//   position: absolute;
//   top: 80px;
//   height: calc(100vh - 80px);
//   width: 100%;
//   background-color: #ffe8d6;
//   opacity: 0.8;
// }

// .nav {
//   display: flex;
//   justify-content: flex-end;
// }

// .menu-nav {
//   font-size: 1.5rem;
//   padding: 0.1rem 0.3rem;
// }

// .modal {
//   position: absolute;
//   top: 80px;
//   left: -100%;
//   width: 320px;
//   height: calc(100vh - 80px);
//   background-color: #e76f51;
//   transition: all 0.4s;
// }

// .modal ul li a {
//   padding: 0.3rem;
//   display: block;
//   text-decoration: none;
//   font-size: 1.5rem;
//   text-transform: uppercase;
//   text-align: center;
//   color: #f5f5f5;
//   font-weight: 600;
// }

// main {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: calc(100vh - 80px);
// }

// .container {
//   width: 95%;
//   margin: auto;
//   text-align: center;
//   padding: 1rem;
//   border: 2px solid #e76f51;
// }

// .container h1 {
//   font-weight: 600;
//   text-transform: uppercase;
//   padding: 1rem 0;
// }

// @media screen and (min-width: 768px) {
//   .container {
//       width: 60%;
//       margin: auto;
//   }
// }

// .hidden {
//   display: none;
// }

// .appear {
//   left: 0;
// }

/*RESPONSIVE*/
//max-width: para Dispositivos móviles. Min-width: es para Desk
@media (max-width: 980px) {
  .main__bag {
    margin-top: 60px;
    background-size: cover;
  }
  .sectionSI__caja{
    background-size:  cover;
  }

  .sectionSI__buttonmod1,
  .sectionSI__buttonmod2, 
  .sectionSI__buttonmod3, 
  .sectionSI__buttonmod4{
    width: 100px;
    height: 100px;
  }

  .footer__titulo1--modifier{
    font-size: 10px;
    
    &:hover{
      transition: 0s;
      font-size: 1rem;
     }
  }

  // .pilares{
  //   display: none;
  // }

.sectionSI__caja{
  background-color: whitesmoke;
}

}

@media only screen and (max-width: 768px) {
  .carousel-item {
    height: 40vh;
  }
}

@media only screen and (max-width: 375px) {
  .carousel-item {
    height: 30vh;
  }
}