//-------------------------------------------//
//-----------------/*MAIN*/-----------------//
//------------------------------------------//
.main__grid {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  padding-top: 5.4rem; //*este es el padding para que quede OK el Header
  width: 100vw;
  overflow-x: hidden;
  gap: 0%;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6 auto);
  grid-template-areas:
  "header__grid"
  "sectionSI"
  "sale"
  "pilares"
  "sectionHPYSM"
  "footer";
}

//------------------------------------------//
//--------/*SECTION SEANSON ITEMS*/--------//
//-----------------------------------------//
.sectionSI{
  grid-area: sectionSI;
  //background: rgba(0, 0, 0, 0.877); //*último background de la seccion*//
  //padding: 6rem 0rem 9rem 0rem;
  margin: 0% ;
  padding: 10rem 0rem 0rem 0rem; //Agranda o achica la foto de la caja (perchero)
  //margin:  4% 5% 5% 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center ;
  
  &--h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 15px #171718, 0 0 15px #171718;
    font-size: calc(.5rem + 3vw);
    //font-size: 50px;
    //font-weight: bold;
    //text-decoration: underline 5px solid red;
    //border-radius: 5px;
    //background-color: rgba(245, 245, 245, 0.308);
    //background-position: 50%;
    //animation-duration: 4s;
    //animation-name: aparecer;
    //animation-iteration-count: infinite;
    
    &:hover{
      font-style: italic;
      //font-size: 60px;
      }
  }

  &--h2{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 15px #c5c2c2, 0 0 15px #171718;
    //text-decoration: underline 5px solid gray;
    //border-radius: 90px;
    //background-color: rgba(245, 245, 245, 0.308);
    //background-position: bottom;
    //text-decoration: none;
    //animation-duration: 4s;
    //animation-name: aparecer;
    //animation-iteration-count: infinite;
  }

  &--boton1 {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    background-image: url("../img/summer.jpg");
    position: relative;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);

      &:hover{
      //background-color: rgba(245, 245, 245, 0.5);
      //box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
      transition: all 1.5s;
      border-radius: 30px;
      box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.959);
      -webkit-box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.931);
      -moz-box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.945);
      }
  }

  &--boton2 {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    background-image: url("../img/winter.jpg");
    position: relative;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);

    &:hover{
      //background-color: rgba(245, 245, 245, 0.5);
      //box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
      transition: all 1.5s;
      border-radius: 30px;
      box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.959);
      -webkit-box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.931);
      -moz-box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.945);
    }
  }

  &--boton3 {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    background-image: url("../img/sets.jpg");
    position: relative;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);

    &:hover{
    content: "Sets" black;
    //background-color: rgba(245, 245, 245, 0.5);
    box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
    transition: all 1.5s;
    border-radius: 20px;
    box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.959);
    -webkit-box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.931);
    -moz-box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.945);
    }
  }

  &--boton4 {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    background-image: url("../img/moldes5.jpg");
    position: relative;
    display: block;
    border-radius: 20px;
    box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 6px 50px 13px rgba(0,0,0,0.46);


    &:hover{
    content: "Sets" black;
    //background-color: rgba(245, 245, 245, 0.5);
    box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
    transition: all 1.5s;
    border-radius: 20px;
    box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.959);
    -webkit-box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.931);
    -moz-box-shadow: -3px 9px 80px 3px rgba(247, 240, 240, 0.945);
    }
  }
}

//–––––––––––––––––––Efecto hover nombre de los botones––––––––––––––––––//
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.h-button {
  //background: white;
  padding: 40px;
  width: 450px;
  text-align: center;
}
.h-button span {
  display: inline-block;
  min-width: 0.3em;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px);
}
.h-button:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  transform: translate(0, 0px);
}
.h-button:hover:before, .h-button:focus:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.h-button:hover span, .h-button:focus span {
  opacity: 1;
  transform: translate(0, 0);
}
.h-button:hover span:nth-child(1), .h-button:focus span:nth-child(1) {
  transition-delay: 0.025s;
}
.h-button:hover span:nth-child(2), .h-button:focus span:nth-child(2) {
  transition-delay: 0.05s;
}
.h-button:hover span:nth-child(3), .h-button:focus span:nth-child(3) {
  transition-delay: 0.075s;
}
.h-button:hover span:nth-child(4), .h-button:focus span:nth-child(4) {
  transition-delay: 0.1s;
}
.h-button:hover span:nth-child(5), .h-button:focus span:nth-child(5) {
  transition-delay: 0.125s;
}
.h-button:hover span:nth-child(6), .h-button:focus span:nth-child(6) {
  transition-delay: 0.15s;
}

//–––––––––––––––––––––––––––Hero página principal––––––––––––––––––––––––//
.hero {
  //background: gradient(linear, left top, left bottom, from(rgba(125, 123, 123, 0.285)), to(rgba(0, 0, 0, 0.285))), url(../img/shop.jpg);
  //background: linear-gradient(rgba(149, 145, 145, 0.271), rgba(0, 0, 0, 0.292)), url(../img/shop.jpg);
  background-image: url("../img/shop.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.hero .container {
  height: 65vh; //tamaño de la foto del Hero en la vista de la pagina(perchero de ropa)
  padding: 4rem 0rem 4rem 0rem; //padding en Y y x
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––//
//––––––––––––––––––––RESPONSIVE SECTION SEANSON ITEMS–––––––––––––//
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––//

/* Cuando la pantalla sea más chica que 480px aplica estos estilos */
@media (max-width: 480px) {
  .main__grid {
    padding-top: 2rem;
    
  }

  .hero .container {
    height: 20vh;
    width: 40vh;
  }

}

@media screen and (min-width:768px) {
  .container {
      width: 80%;
  }
}

/* Pero si mi pantalla es mayor a 480px aplica estos estilos siempre y cuando el tamaño sea menor a 768 px */
@media (max-width: 768px) {
  .main__grid {
    padding-top: 3rem;
  }

  .hero .container {
    height: 40vh;
    width: 40vh;
  }
}

/* max-width: para Dispositivos móviles. Min-width: es para Desk*/
@media (max-width: 980px) {
  .main__grid {
    padding-top: 3.4rem;
  }
  .hero {
    background-image: 50%;
    min-width: 100px
  }
  .sectionSI--boton1 .sectionSI--boton2
  .sectionSI--boton3 .sectionSI--boton4{
    max-width: 30%;
    // min-width: 1300px
  }

  
}

//-------------------------------------------//
// ----------------/*SALE*/------------------//
// ------------------------------------------//
.sale{
  grid-area: sale;
  padding-top: 12rem;
  padding-bottom: 12rem;
  //background-color: rgb(236, 57, 57);

&__precio {
  color: red;
  font-size: 20px;
  font-weight: 800;
  padding-left: 5px;
}

&__btn {
  height: 50px;
  width: 110px;
  background-color: black;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 30%;
  opacity: 0;
}

&__btn:hover {
  background-color: red;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

& .card:hover input {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

&__img-fluid{
  width: 15rem;
  height: 10rem;
}

&--h3{
  color:red;
  font-family: 'Poppins', sans-serif;
  //font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 15px #171718, 0 0 15px #171718;
  font-size: calc(.5rem + 3vw);
}

&--h3:hover{
  font-style: italic;
  font-size: 60px;
  }
}

.card {
  border: none;
  padding: 10rem 1rem 10rem 1rem;
  height: 35rem;

&:hover {
  box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
  }
}

.list-unstyled{
  color: black;
  font-size: 1.3rem;
}

//-------------------------------------------//
// ----------------/*PILARES*/---------------//
// ------------------------------------------//
.pilares{
  grid-area: pilares;
  padding-top: 10rem;
  padding-bottom: 25rem;
  background: rgba(128, 128, 128, 0.335);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4 auto);
  grid-template-areas:
  "h3--pillars h3--pillars"
  "card-1 card-maniki"
  "card-2 card-maniki"
  "card-3 card-maniki"
  "card-4 card-maniki";
  gap: 5%;
}

.pilares--h3{
  color: black;
  font-family: 'Poppins', sans-serif;
  //font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 15px #171718, 0 0 15px #171718;
  font-size: calc(.5rem + 3vw);

  &:hover{
    font-style: italic;
    font-size: 70px;
    }
}

.iconos__container--pillars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.iconos__container__ind--pillars {
  background: rgba(245, 245, 245, 0.616);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1rem;
      flex: 1 1 1rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem ;
  padding: 3rem 2rem;
  position: relative;
  box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

.iconos__container__ind--pillars:hover {
  box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
  -webkit-box-shadow: -1px -10px 53px 2px rgb(0, 0, 0);
  -moz-box-shadow: -1px -10px 53px 2px rgb(0, 0, 0);
  -webkit-transition: 1s;
  transition: 1s;
}

.iconos__container__img--pillars {
  width: 10rem;
  height: 8rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.iconos__container__titulo--pillars {
  color: black;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.iconos__container__span--pillars {
  color: rgb(53, 52, 52);
  font-size: 1.1rem;  
}

.hero-pillars {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../img/shop.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.158)), url(../../img/fondoEstrellas.png);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.card--pillars {
  background: #fff;
}

/* –––––––––––––––––––––Grid-áreas de Pilares–––––––––––––––––––– */
.h3--pillars{
 grid-area: h3--pillars;
}

.card-maniki{
 grid-area: card-maniki;
 //border-radius: 0.5rem ;
 background-image: url("../img/maniqui2.jpg");
 //background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 border: 0.1rem solid rgba(0, 0, 0, 0.1);
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 border-radius: 0.5rem ;
 -webkit-box-flex: 1;
 -ms-flex: 1 1 1rem;
     flex: 1 1 1rem;
padding: 3rem 2rem;
box-shadow: -1px -1px 13px 2px rgba(0, 0, 0, 0.75);
}

.card-maniki:hover {
  box-shadow: -1px -1px 13px 2px rgb(0, 0, 0);
  -webkit-box-shadow: -1px -10px 53px 2px rgb(0, 0, 0);
  -moz-box-shadow: -1px -10px 53px 2px rgb(0, 0, 0);
  -webkit-transition: 1s;
  transition: 1s;
}

.card-1{
 grid-area: card-1;
}
.card-2{
 grid-area: card-2;
}
.card-3{
 grid-area: card-3;
}
.card-4{
 grid-area: card-4;
}


//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––//
//–––––––––––––––––––––––––RESPONSIVE PILARES–––––––––––––––––––––––––––//
//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––//

//max-width: para Dispositivos móviles. Min-width: es para Desk
@media (max-width: 980px) {
  .card-maniki{
    background-image: hide;
    grid-area: hide
  }
}
//-------------------------------------------//
//-----------------/*CONTACT*/---------------//
//-------------------------------------------//
.sectionHPYSM {
  grid-area: sectionHPYSM;
  display: flex;
  justify-content: center;
  padding: 5rem 0rem 5rem 0rem;
  background: #eee;
  // border-radius: 20px;
}

.iconos__container {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.iconos__container__ind {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin: 1rem;
}

.iconos__container__img {
  height: 10rem;
  margin-right: 2rem;
}

.iconos__container__titulo {
  color: black;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.iconos__container__span {
  color: rgb(53, 52, 52);
  font-size: 1.1rem;
}

.contact--h3{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-shadow: 0 0 15px #171718, 0 0 15px #171718;
  font-size: calc(.5rem + 3vw);

  &:hover{
    font-style: italic;
    font-size: 60px;
    }
}

.img__redsocial {
  width: 30px;
  height: 30px;
}

//-------------------------------------------//
// ----------------/*OFFER*/-----------------//
// ------------------------------------------//
.sectionOFF{
  background-image: url("../img/descuento - copia.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: 10%;
  //background: linear-gradient(  blue, black );
  //background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,10,224,1) 35%, rgba(255, 51, 0, 0.644) 100%);
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  // background-attachment: fixed;
  // background-size: cover;
  // display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  overflow: hidden;
}

//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––//
//–––––––––––––––––––––––––RESPONSIVE–––––––––––––––––––––––––––––––//
//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––//

//max-width: para Dispositivos móviles. Min-width: es para Desk
@media (max-width: 980px) {
  .sectionOFF__form{
    background-position-x: left;
  }
}

@media screen and (min-width:768px) {
  .container {
      width: 80%;
  }
}

//-----------------------------------------//
//---------------/*BOTON ARRIBA*/----------//
//-----------------------------------------//

/* GOTOP */
.go-top-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  z-index: -1;
}

.go-top-button {
  width: 50px;
  height: 50px;
  border-radius: 200%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: block;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: blue;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
      width: 0;
      height: 0;
  }
  50% {
      width: 8rem;
      height: 8rem;
  }
  100% {
      width: 6.6rem;
      height: 6.6rem;
  }
}



//BOTON RECYCLE

// body {
//   position: relative;
// }

// .overlay {
//   position: absolute;
//   top: 80px;
//   height: calc(100vh - 80px);
//   width: 100%;
//   background-color: #ffe8d6;
//   opacity: 0.8;
// }

// .nav {
//   display: flex;
//   justify-content: flex-end;
// }

// .menu-nav {
//   font-size: 1.5rem;
//   padding: 0.1rem 0.3rem;
// }

// .modal {
//   position: absolute;
//   top: 80px;
//   left: -100%;
//   width: 320px;
//   height: calc(100vh - 80px);
//   background-color: #e76f51;
//   transition: all 0.4s;
// }

// .modal ul li a {
//   padding: 0.3rem;
//   display: block;
//   text-decoration: none;
//   font-size: 1.5rem;
//   text-transform: uppercase;
//   text-align: center;
//   color: #f5f5f5;
//   font-weight: 600;
// }

// main {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: calc(100vh - 80px);
// }

// .container {
//   width: 95%;
//   margin: auto;
//   text-align: center;
//   padding: 1rem;
//   border: 2px solid #e76f51;
// }

// .container h1 {
//   font-weight: 600;
//   text-transform: uppercase;
//   padding: 1rem 0;
// }

// @media screen and (min-width: 768px) {
//   .container {
//       width: 60%;
//       margin: auto;
//   }
// }

// .hidden {
//   display: none;
// }

// .appear {
//   left: 0;
// }

/*RESPONSIVE*/
//max-width: para Dispositivos móviles. Min-width: es para Desk

  .footer__titulo1--modifier{
    font-size: 10px;
    
    &:hover{
      transition: 0s;
      font-size: 1rem;
     }
  }