/*MAIN*/
.main__grid {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  padding-top: 10rem;
  width: 100vw;
  gap: 0%;
  display: flex; 
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
  "header__grid"
  "sectionMV"
  "sectionSI"
  "sectionPT"
  "div__sectionHPYSM"
  "sectionOFF"
  "footer";
 }
 
/*MAIN SECTION SEANSON ITEMS*/
.sectionSI{
 grid-area: sectionSI;
 

  &__caja{
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin: 0% 4% 0% 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: black;
  font-family: 'Lucida Sans';
  font-size: 32px;
  font-weight: bold;
  text-align: center ;
  background-image: url("../img/shop.jpg"); 
  background-repeat: no-repeat;
  background-size:  91%;
  background-position-x: center;
  background-position-y: top ;
  border-radius: 20px;
  

  &--h3{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
    background: radial-gradient( whitesmoke, rgba(73, 70, 70, 0.39) );
  }
 
  &--buttonmod1 {
  width: 200px;
  height: 200px;
  color: whitesmoke;
  background-image: url("../img/bufanda.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  cursor: pointer;

  &::before {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%,-50% );
  transition: all 500ms ease;
  
  }
  
  &::after {
    content: "WINTER";
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%,-50% ) scale(0);
    font-size: 1.6rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: .1rem .1rem  .1rem #333  ;
    transition: .2s ease;  
    opacity: 0;
    }

  &:hover{
  background-color: ( whitesmoke, rgba(73, 70, 70, 0.39) );
  box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
  border-radius: 30px;
  color: blue;
  transition: all .5s;
  content: "Winter";
  }

  }

  &--buttonmod2 {
  width: 190px;
  height: 190px;
  font-weight: bold;
  font-size: 24px;
  text-align: end;
  justify-items: center;
  background-image: url("../img/bikini.png"); 
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
  
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transition: all 500ms ease;
    z-index: -1;
    }
  
    &:hover{
      background-color: ( whitesmoke, rgba(73, 70, 70, 0.39) );
    box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
    color: #434343;
    border-radius: 30px;
    transition: all .5s;
    }
  }

  &--buttonmod3 {
  width: 200px;
  height: 200px;
  font-weight: bold;
  font-size: 24px;
  background-image: url("../img/clothes.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
  
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transition: all 500ms ease;
    z-index: -1;
    }
  
    &:hover{
      background-color: ( whitesmoke, rgba(73, 70, 70, 0.39) );
    box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
    color: #434343;
    border-radius: 30px;
    transition: all .5s;
    }
  }

  &--buttonmod4 {
  width: 200px;
  height: 200px;
  transition: height 4s, width 1s;
  font-size: 24px;
  font-weight: bold;
  background-image: url("../img/dummy.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-style: dotted;
  position: relative;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transition: all 500ms ease;
    z-index: -1;
    }
  
    &:hover{
      background-color: ( whitesmoke, rgba(73, 70, 70, 0.39) );
    box-shadow: 0 0 10px #203de2, 0 0 20px #203de2, 0 0 20px #203de2;
    color: #434343;
    border-radius: 30px;
    transition: all .5s;
    }
}
}
}

/*MAIN_ SECTION MOST VIEWED*/
.sectionMV {
 grid-area: sectionMV;
 overflow: hidden;
 padding-bottom: 5rem;
 margin: 0% 4% 0% 4%;
  

  &__caja {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Lucida Sans';
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0% 5% 0% 5%;
  background: white;
  border-radius: 20px;
  }
}

/*MAIN_ SECTION PRESENTATION*/
.sectionPT{
grid-area: sectionPT;
text-align: justify;

  &__caja{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Lucida Sans';
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0% 4% 0% 4%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(4, 4, 247, 0.719);
  border-radius: 20px;
  }

  &--pmod {
  color: black; 
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-align: center;
  }

  &--videomod {
  position: relative;
  width: 100%;
  height: 150%;
  overflow: hidden;
  z-index: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  text-align: left;
  direction: ltr;
  font-size: 11px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -ms-high-contrast-adjust: none;
  border-radius: 1px;
  box-shadow: 1px 5px black;
  }
}

/*MAIN_ div_section HELPING Y SOCIAL MEDIA*/
.div__sectionHPYSM {
  grid-area: div__sectionHPYSM;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background: radial-gradient( whitesmoke, rgba(218, 205, 205, 0.39) );
  border-radius: 20px;
}

/*MAIN_ SECTION HELPING*/
.sectionHP{
display: flex;  
flex-direction: row;
width: 35vw;
border-radius: 20px;

 
  &__caja{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Lucida Sans';
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px; 
  margin: 0% 0% 0% 0%;
  background-image: url("../img/phone.png"); 
  background-repeat: no-repeat;
  background-size: 16rem;
  background-position: left center;
  border-radius: 20px;
  
  } 
}

/*MAIN_ SECTION SOCIAL MEDIA*/
.sectionSM {
  display: flex;
  width: 35vw;
  background-image: url("../img/socialMedia4.png"); 
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: left center;

  &__caja1{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-bottom: 5px; 
  color: black;
  font-family: 'Lucida Sans';
  font-weight: bold;
  text-align: center;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%; 
  border-radius: 20px;
  }

  &__caja2{
  display: flex;
  list-style-type:none;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  font-size: 20px;
  width: 150px;
  height: 150px;
  color: black;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  
 }
}

/*MAIN_ SECTION OFFER*/
.sectionOFF{
  grid-area: sectionOFF;
  width: 100vw;
  background: linear-gradient(  blue, black );
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  padding: 0% 0% 0% 0%; 
  margin-top: 10px;
 
 &__form {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: start;
 align-items: center;
 align-content:center;
 padding-top: 3rem;
 height:  150%;
 width: 300%;
 background-image: url("../img/cart.png"); 
 background-repeat: no-repeat;
 background-size: 20%;
 background-position-x: x-star;
 background-position-y: center;
 }
}

/*BOTON ARRIBA*/
.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #b22020;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
      width: 0;
      height: 0;
  }
  50% {
      width: 8rem;
      height: 8rem;
  }
  100% {
      width: 6.6rem;
      height: 6.6rem;
  }
}

@media (max-width: 980px) { //para Dispositivos móviles. Min-width es para Desk
  .main__bag {
    margin-top: 60px;
    background-size: cover;
  }
  .sectionSI__caja{
    background-size:  cover;
  }

}