  /*MAIN*/
  .main__login {
    width: 100vw;
    height: 65vh;
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-color: deepskyblue;
    background-image: url("../img/social-media-cel.png"); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100px;
 
    &--form {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: grey;
    font-family: 'Lucida Sans';
    font-size: 12px;
    font-weight: bold;
    border: 10rem;
    width: 300px;
    height: 300px;
    padding: 1% 2% 1% 2%;
    margin: 0% 0% 0% 0%;
  }
} 