/*MAIN_ SECTION PRESENTATION*/
.sectionPT{
  grid-area: sectionPT;
  text-align: justify;
  padding-top: 5.4rem;
  

  &__caja{
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #080808;
  background-image: url("../img/maniqui2.jpg");
  background-position-x: top;
  background-position-y: top;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1 auto);
  grid-template-areas:
  "grid-hello grid-hello"
  "grid-h3 grid-h3"
  "grid-p1 grid-p1"
  "grid-1 grid-2";
  }
  
    // &--pmod {
    // color: black;
    // font-family: 'Poppins', sans-serif;
    // font-size: 12px;
    // text-align: center;
    // }
  
    &--videomod {
    position: relative;
    width: 40%;
    height: 40%;
    overflow: hidden;
    z-index: 0;
    outline: 0;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;
    border-radius: 1px;
    box-shadow: 1px 5px black;
    }
  }

  .grid-h3{
    grid-area: grid-h3;
  }
  .grid-p1{
  grid-area: grid-p1;
  }
  .grid-hello{
    grid-area: grid-hello;
    }
  .grid-1{
    grid-area: grid-1;
  }
  .grid-2{
    grid-area: grid-2;
  }
