/*BODY*/
body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

 /*PÁRRAFOS*/
 p {
  font-size: 15pt;
  color: rgb(37, 35, 35);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-weight: bold;
}

