  /*MAIN PRODUCTOS*/
.main__products {
    width: 100vw;
    height: 200vh;
    margin-top: 73px;
    background-color: rgba(4, 4, 247, 0.719);

   &--formbusq {
    font-family: 'Lucida Sans';
    font-size: 12px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient( whitesmoke, rgba(73, 70, 70, 0.39) );
    width: 100vw;
    padding-bottom: 1%;
    padding-top: 1%;
  }
}
.main__img1 {
  width: 100px;
  height: 100px;
  border: solid;
  border-radius: 40px;
  align-items: center;
}

 .section1 {
  background-image: url("../img/tiendahippiechic1.jpg");
  background-position: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
 }

 .contenedor__tarjeta {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  border-radius: 20px;
  background: radial-gradient( whitesmoke, rgba(73, 70, 70, 0.699) );
  width: 300px;
  height: 300px;
}
