/*MAIN*/
  .main__search {
    display: flex;
    flex-direction: row;
    height: 60vh;
    line-height: 1,6rem;
    background-color: blue;
    justify-content: flex-start ;
    margin-top: 60px;
    background-image: url("../img/searching2.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100px;
    

    &--form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    background-color: grey;
    font-family: 'Lucida Sans';
    font-size: 12px;
    font-weight: bold;
    border: 5rem;
    width: 300px;
    height: 300px;
    padding: 1% 2% 1% 2%;
    margin: 0% 0% 0% 0%;
    }
} 