/*HEADER*/
.header {
  grid-area: header__grid;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background: $fondogrisdegradado; 

  &__divlogo{
   display: flex;
   flex-direction: row;
   padding:  0% 10% 0% 10%; 
  //  gap: 10rem;
   
  }

 &__logo {
   width: 70px;
   height: 70px;
   top: 50%;
   left: 50%;
   border-style: groove rgb(10, 10, 10);
  //  color: rgba(0, 0, 0, 0.623);
   }

  &__menu {
    padding: 0%;
    margin: 0%; 
    // display: flex;
    // justify-content: center;
    // flex-direction: row;
    line-height: 45px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 15px;
    gap: 1.5rem;
    text-transform: uppercase;
    
    & [data-animation="bonus"] a::before {
      transform-origin: right;
      transition: transform 0.5s ease-in-out;
    }
    
    & [data-animation="bonus"] a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
    }


     & ul {
      list-style: none; 
      color: black;
    }

      & li a{
      list-style: none;
      padding: 1px 1px;
      display:block;
      position: relative;
      font-size: 20px;
      color: black;
    }

    & :hover {
      // text-decoration: underline blue;
      font-style: italic;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.151), rgba(82, 80, 80, 0.664));
      box-shadow: 0 0 20px rgba(128, 128, 128, 0.521), 0 0 20px rgba(128, 128, 128, 0.548), 0 0 20px rgba(128, 128, 128, 0.493);
      background: rgba(128, 128, 128, 0.486);
      border-radius: 10px;
      transition: all 1.5s;
    }
  }
  
  
   &__icons {
   display: flex;
   flex-direction: row;
  //  justify-content: space-evenly;
   font-size: 50px;
   gap: 0.5rem;
   color: black;
  //  margin: 0 3% 0 0 ;
   background: rgba(245, 245, 245, 0.432);
  //  border-radius: 10px;
  
 
  & li a{
    list-style: none;
    padding: 1px 2px;
    display:block;
    position: relative;
    font-size: 20px;
    color: black;
  }

  & :hover {
  color: red;
  transition: all .5s;
  }

  }
}

//EFECTO DE ROTACIÓN DEL LOGO

.rotate {
  -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

//EFECTO APARECER EN TITULO

.aparecer {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
 }

//EFECTO SUBRAYADO DEL MENU EN EL HEADER

.header__menu {
  display: inline-block;
  position: relative;
  color: #333;
  text-decoration: none;
  }
  .header__menu:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .8s;
  }
  .header__menu:hover:after {
  width: 100%;
  background: red;
  }



@media (max-width: 980px) { //para DM. min width es para Desk
  /* Header */
  .header__menu {
    display: none;
  
   }

   .header__icons{
    display: none;
   }
   .footer__titulo1--modifier{
		font-size: 12px;
		
		&:hover{
		  transition: 0s;
		  font-size: 1rem;
		 }
	  }
   
}