//-------------------------------------------//
// ----------------/*HEADER*/----------------//
// ------------------------------------------//

.header {
  grid-area: header__grid;
  position: fixed;
  // overflow: hidden;
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  background: $fondogrisdegradado;
  padding: 0%;
  margin: 0%;
}

  .divlogo{
   display: flex;
   flex-direction: row;
   //padding:  0% 10% 0% 10%;
  }

 .header__logo {
   width: 60px;
   height: 60px;
  //  top: 50%;
  //  left: 50%;
   border-style: groove rgb(10, 10, 10);
   }

  .header__menu {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
    gap: 0.3rem;
    text-transform: uppercase;

     & ul {
      list-style: none;
    }

      & ul li a{
      list-style: none;
      display: block;
      position: relative;
      text-decoration: none;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-right: 10px;
    list-style: none;
    display: block;
    position: relative;
    text-decoration: none;
  }
  
  .menu a {
    position: relative;
    display: block;
    padding: 5px;
  }
  
  .menu a:hover {
    font-style: italic;
    //background-color: rgba(128, 128, 128, 0.144);
    //border-radius: 3px;
  }

  .menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #e878a2, red, blue);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .menu a:hover::before {
    transform: scaleX(1);
    transition: all .5s;
  }

/* ––––––––––––––––––––––––ANIMATIONS–––––––––––––––––––––––––– */

//De forma similar al ejemplo anterior, tenemos la opción de cambiar la dirección de la animación del deslizamiento. La línea aparecerá de izquierda a derecha de forma predeterminada, pero para cambiar ese comportamiento, tenemos que pasar el atributo data-animation a la lista de destino. Los valores posibles son to-left y center.
//Los estilos correspondientes son los siguientes:
.menu[data-animation="bonus"] a::before {
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.menu[data-animation="bonus"] a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

   .header__icons {
   display: flex;
   flex-direction: row;
  //  justify-content: space-evenly;
  //  align-items: center;
   gap: 0.2rem;
   color: black;
  //  margin: 0 1% 0 0 ;
   background: rgba(146, 140, 140, 0.432);
   //border-style: groove rgb(10, 10, 10);
   border-radius: 5px;

  & li a{
    list-style: none;
    padding: 1px 2px;
    display:block;
    position: relative;
    font-size: 22px;
    color: black;
    border-style: groove rgb(10, 10, 10);
    border-radius: 1px;
  }

  & :hover {
  color: red;
  transition: all .5s;
  }
 }

.btn--search{
  width: 5rem;
  height: 2.2rem;
  border-radius: 2px;
}

/* ––––––––––––––––EFECTO DE ROTACIÓN DEL LOGO––––––––––––––––––– */
.rotate {
  -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

/* –––––––––––––--–––––––––––Responsive––––––––––––--–––––––––––––– */
@media (max-width: 980px) { //para DM. min width es para Desk
/* Header */
.header__menu {
 display: none;
}
.header__icons{
 display: none;
}
  .footer__titulo1--modifier{
  font-size: 12px;
  :hover{
   transition: 0s;
   font-size: 1rem;
  }
 }
}